SUPABASE_URL=https://mhdjtfqgjoxfonyjizee.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1oZGp0ZnFnam94Zm9ueWppemVlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzAzNjg4MywiZXhwIjoyMTAyNjEyODgzfQ.cisr4t3a5bS2uCez4vSmO59auto6PWo5yN0HhnZkTGs
SESSION_SECRET=5a92cef84ac20ba39e9bc6d7c9709f26673c034fbd8d62aadde061ed84349237
CRON_SECRET=c30a45e5c6c0022799935bb1c7baa65afe3292862218a3bf1834975ae89853c6

# Optional services
AZURE_CLIENT_ID=05e6a0d3-0567-495f-a167-dd5adfa1cd0e
AZURE_CLIENT_SECRET=jyb8Q~ExCpR.USxd6MAMUu4siu_uc~mWv1hiQcAZ
AZURE_TENANT_ID=2dbb05c9-b19f-4164-bc87-9a3f87e7d02e
RESEND_API_KEY=re_TkUxinCB_NDUF3aCEaXYWM9LqXV7uAJeE
REMINDER_FROM_EMAIL=Team Pulse <onboarding@resend.dev>
TEAMS_WEBHOOK_URL=https://default2dbb05c9b19f4164bc879a3f87e7d0.2e.environment.api.powerplatform.com:443/powerautomate/automations/direct/cu/26/workflows/8883476873584332a1f5ff208f6a6ea7/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=kd76VpAzioIfGN5Ts8t3lJDcEHdJrzZB9Tk4cFER1nY
APP_URL=http://localhost:3000
